langchain==0.2.16
langchain_community==0.2.16
langchain-milvus==0.1.4
pymilvus==2.4.6
pypdf
fastapi
jinja2
python-multipart
uvicorn
langchain-cohere==0.2.4
unstructured
python-docx
websockets
docx2txt
openai